
@{
    ViewBag.Title = "Orderconfirm";
}

<div class="Conatiner-last">
    <div class="Lastimg">
        <img src="../../Assert/last.png" class="image3" alt="order success"  />
    </div>
    <div class="Last-Text">
        hurray!!!! your order is confirmed
    </div>
    <div class="Last-Text">
        the order id is 60b996b3f601ea72faca6998
    </div>
    <div class="Last-Text">
        save the order id for
    </div>
    <div class="Last-Text">
        future communication
    </div>
    <div class="Last-Button">
        <input id="buttonsize" type="button" value="Continue Shopping" style="background-color:blue; color:white ; height:25px;"/>
    </div>
    </div>


